<div class="flex items-center justify-between flex-wrap border-pink-600
  border-b-2">
  <div class="flex flex-shrink-0 content-center items-center mr-6">
    <LinkTo @route="index">
      <img src="assets/images/logo-v5.png" alt="aliencyborg logo"
        class="h-20">
    </LinkTo>
  </div>
  {{yield}}
</div>
