<div class="text-white flex flex-col">
  <div class="font-headline text-3xl text-center p-2">
    <h1>Contact</h1>
  </div>
  <div class="font-mono text-base text-center p-2">
    <span>Start a conversation</span>
    <a class="py-4" href="mailto:hello@aliencyb.org">hello@aliencyb.org</a>
  </div>
</div>