<div class="text-white flex flex-col">
  <div class="font-headline text-3xl text-center py-4">
    <h1>Gallery</h1>
  </div>
  <div class="font-mono text-base text-center p-2">
    <span>Coming soon...</span>
  </div>
</div>