<div class="text-white flex flex-col mx-2">
  <div class="font-headline text-3xl text-center pt-4 pb-2">
    <h1>Pricing</h1>
  </div>
  <div class="flex flex-col items-center my-2 border border-white">
    <div class="font-center font-headline text-lg">
      Web Site Design and Development
    </div>
    <div class="flex w-full justify-around font-mono">
      <div class="text-center">
        <span>Simple</span>
        <span>$500</span>
      </div>
      <div class="text-center">
        <span>Standard</span>
        <span>$1000</span>
      </div>
      <div class="text-center">
        <span>Premium</span>
        <span>$2000</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center my-2 border border-white">
    <div class="font-center font-headline text-lg">
      WordPress or Drupal
    </div>
    <div class="flex w-full justify-around font-mono">
      <div class="text-center">
        <span>Simple</span>
        <span>$1000</span>
      </div>
      <div class="text-center">
        <span>Standard</span>
        <span>$2000</span>
      </div>
      <div class="text-center">
        <span>Premium</span>
        <span>$4000</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center my-2 border border-white">
    <div class="font-center font-headline text-lg">
      Feature-Rich Web Application
    </div>
    <div class="flex w-full justify-around font-mono">
      <div class="text-center">
        <span>Simple</span>
        <span>$2000</span>
      </div>
      <div class="text-center">
        <span>Standard</span>
        <span>$4000</span>
      </div>
      <div class="text-center">
        <span>Premium</span>
        <span>$8000</span>
      </div>
    </div>
  </div>
  <div class="font-headline text-2xl text-center pt-4 pb-2">
    <h2>Hosting</h2>
  </div>
  <div class="flex flex-col items-center my-2 border border-white">
    <span>Static Web Site with HTTPS and Analytics</span>
    <span>$2 per month</span>
  </div>
  <div class="flex flex-col items-center my-2 border border-white">
    <span>Web Application, Drupal, or Wordpress</span>
    <span>$12 per month</span>
  </div>
  <div class="flex flex-col items-center my-2 border border-white">
    <span>Premium Cloud Hosting with CDN</span>
    <span>and traffic management</span>
    <span>starting at $32 per month</span>
  </div>
  <div class="font-headline text-lg text-center pt-4 pb-2">
    <h2>Other Services:</h2>
    <span>
      <LinkTo @route="contact">Talk to Us!</LinkTo>
    </span>
  </div>
</div>
