<div class="text-white flex flex-col">
  <div class="font-headline text-3xl text-center py-4">
    <h1>Services</h1>
  </div>
  <div class="font-mono text-sm md:text-md lg:text-lg xl:text-xl text-center
    pl-2">
    <ul class="px-3">
      <li>Web Page Design and Development</li>
      <li>Sinlge-Page Web Applications</li>
      <li>Content Management Solutions</li>
      <li>SquareSpace Customization</li>
      <li>WordPress Customization</li>
      <li>Drupal Customization</li>
      <li>Cloud Configuration</li>
      <li>Database Management</li>
      <li>Affordable Hosting</li>
      <li>Audio Processing</li>
      <li>Sound Design</li>
      <li>E-Commerce</li>
      <li>HTML Games</li>
      <li>and more!</li>
    </ul>
  </div>
</div>